body {
    color:rgb(41, 29, 51);
    background:  rgb(0, 0, 0); 
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(204, 145, 255); 
    padding:  20px; 
    font-size: 32px;
    color: rgb(204, 154, 255); 
}

.chamada { 
    background: rgb(211, 170, 250);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
 
div{
    margin-right: 20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
img{
    height: 300px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
} 

categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
 opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rosybrown;
}
